///*----------------------------------*\
//  #COLORS
//\*----------------------------------*/

$app-primary-color: #3a1858 !default;
$app-accent-color: #00ccd6 !default;
$app-active-color: #9f00c0 !default;
$app-confirmed-color: #7ed321 !default;
$app-declined-color: #e01040 !default;
$app-muted-color: #989e9e !default;
$app-reversed-color: #fff !default;
$app-muted-reversed-color: #989e9e !default;
$app-disabled-color: #b6bbbb !default;
$app-border-color: #bbc2c3 !default;
$app-disabled-color: #ced6d8 !default;
$app-background-color: #e5eaec !default;
$app-lightest-background-color: #fff !default;
$app-transparent: rgba(0, 0, 0, 0) !default;
$app-text-color: #2e2a34 !default;
$app-neutral-color: #453f4e !default;
$app-achievement-color: #ebcb2a !default;
